<div class="container">
    <h1>View Film</h1>
  
    <a href="#" routerLink="/" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>Title:</strong>
        <p>{{ post.title }}</p>
    </div>

    <div>
        <strong>Year:</strong>
        <p>{{ post.year }}</p>
    </div>
   
    <div>
        <strong>Director:</strong>
        <p>{{ post.director }}</p>
    </div>

    <div>
        <strong>Stars:</strong>
        <p>{{ post.stars }}</p>
    </div>

    <div>
        <strong>Review:</strong>
        <p>{{ post.review }}</p>
    </div>
   
</div>